<div class="container">
    <h1>Crear Mesa</h1>
    <form [formGroup]="crearMesaForm" class="form" (ngSubmit)="createMesa(crearMesaForm.value)" #myForm="ngForm">
      <div class="form-group row">
        <label for="id_Mesa" class="col-sm-2 col-form-label">Id Mesa:</label>
        <div class="col-sm-6">
          <input type="text" id="id_Mesa" name="id_Mesa" required formControlName="id_Mesa">
        </div>
      </div>
      <div class="form-group row">
        <label for="Nombre_Mesa" class="col-sm-2 col-form-label">Nombre Mesa:</label>
        <div class="col-sm-6">
          <input type="text" id="Nombre_Mesa" name="Nombre_Mesa" required formControlName="Nombre_Mesa">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">
          <button type="submit" class="btn btn-primary">Guardar Mesa</button>
          <button type="button" class="btn btn-danger" (click)="navegarAMenu()">Regresar</button>
        </div>
      </div>
    </form>
  </div>
  